{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["airbnb", "plugin:react/recommended", "prettier"],
  "plugins": ["react", "react-hooks", "prettier"],
  "rules": {
    "camelcase": "off",
    "curly": "error",
    "no-use-before-define": "off",
    "no-shadow": "off",
    "no-restricted-exports": "off",
    "no-param-reassign": "off",
    "max-len": [
      "warn",
      {
        "code": 100
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "react/jsx-sort-props": "warn",
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "off",
    "react/require-default-props": [0]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
      },
      "extends": ["plugin:@typescript-eslint/recommended"],
      "plugins": ["@typescript-eslint"],
      "rules": {
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-use-before-define": ["error"],
        "@typescript-eslint/no-shadow": ["error"],
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "react/react-in-jsx-scope": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/jsx-filename-extension": [
          "warn",
          {
            "extensions": [".tsx"]
          }
        ],
        "import/extensions": [
          "error",
          "ignorePackages",
          {
            "ts": "never",
            "tsx": "never"
          }
        ]
      }
    }
  ]
}
